@model Urun
@* Controllerdan View'e gönderilen Urun nesnesini yukarıda bulunan @model Urun adındaki satırda karşılıyoruz. *@


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Urun Adı</th>
            <th>Urun Adet Bilgisi</th>
            <th>Urun Fiyatı</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td> @Model.UrunAdi </td>   @*  View'e gelen Urun bilgilerinin her birine @Model.property kullanılarak erişebilirsiniz. *@
                <td> @Model.UrunStokAdedi </td>
                <td> @Model.Fiyat </td>
            </tr>

    </tbody>
</table>