@model Urun




<table class="table table-bordered">
    <thead>
        <tr>
            <th>Urun Adı</th>
            <th>Urun Adet Bilgisi</th>
            <th>Urun Fiyatı</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td> @Model.UrunAdi </td>
                <td> @Model.UrunStokAdedi </td>
                <td> @Model.Fiyat </td>
            </tr>

    </tbody>
</table>