

<form asp-action="Ekle" method="post">
    <label >Marka</label>
    <input type="text"  name="Marka" />
    <label >Model</label>
    <input type="text" name="Model" />
    <label >Yıl</label>
    <input name="Yil" />
    <label >Renk</label>
    <input name="Renk" />

    <button type="submit">Kaydet</button>

</form>